<div class="post-container" style="background-color: #AFE6C7;">
    <img class="post-img" src="./../../assets/images/huawei-nova.png" alt="huawei">
    <div class="post">
        <p class="date-author"><span>31.01.2020</span> | By <span>Ionut P. Urs</span></p>
        <h1 class="blog-title">Material is an adaptable system of guidelines, components</h1>
        <p class="blog-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quisquam ducimus fugiat hic 
            iste, ipsa eum, ad iure vitae laudantium rerum incidunt perferendis eos quia repudiandae 
            eius nesciunt est aliquam!
        </p>
        <br>
        <p class="blog-paragraph">
            Saepe hic eveniet deleniti veniam quo. Excepturi pariatur magni, ratione reprehenderit beatae 
            possimus alias, esse expedita consequuntur iure aliquid, doloribus ea vel exercitationem ipsum 
            labore consectetur quo animi ullam quasi? Ratione maxime saepe eos, a sunt, nobis ullam dicta, 
            quos repellendus eius delectus. Cumque quo 
            repudiandae repellat harum porro quam tempora, dolores earum? Sit eos maiores officia ut enim. Odio.
        </p>
        <br>
        <p class="blog-paragraph">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit alias accusamus natus, quo exercitationem 
            perferendis sint in optio distinctio obcaecati qui facere sed animi ratione sapiente nisi repudiandae 
            eius necessitatibus.
        </p>
        <img class="post-image" src="./../../assets/images/huawei_nova_5_pro.jpg" alt="post-image">
        <p class="blog-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ratione omnis aliquam quod vel voluptas. 
            Aspernatur totam facilis hic soluta? Iste quia repudiandae magni totam corporis minima ducimus atque 
            adipisci!Laboriosam explicabo modi minus numquam quod expedita dolorum natus eius nam dolor, nemo 
            accusantium aperiam id excepturi provident corporis eveniet incidunt deserunt. Repudiandae minima 
            libero autem debitis illum excepturi tenetur.
        </p>
        <br>
        <p class="blog-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consectetur eos nemo deserunt alias sit 
            vel nobis eum sint, necessitatibus mollitia blanditiis natus est repudiandae doloribus quae accusamus 
            dolor asperiores?Iusto illo aut ipsa minima nisi, fugiat error at magni commodi pariatur praesentium 
            alias eveniet voluptates sint ea esse laborum ab hic! Neque ex eos quo cumque. Rem, non omnis!
        </p>
    </div> 
</div>
