.post-container{
    width: 100%;
    height: fit-content;
    padding: 150px 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .post-img{
        max-height: 300px;
        width: auto;
        margin-bottom: 50px;
    }

    .post {
        width: 70%;
        height: fit-content;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: fit-content;
        padding: 75px 150px;
        color: #333333;
        text-align: left;

        .post-image{
            width: 100%;
            height: auto;
            margin: 75px 0;
        }

        .date-author{
            font-weight: 400;
            font-size: 14px;
        }

        .blog-title{
            font-weight: 300;
            font-size: 35px;
            line-height: 125%;
            letter-spacing: 1px;
            margin-bottom: 50px;
        }

        .blog-paragraph{
            font-weight: 300;
            font-size: 18px;
            line-height: 160%;
        }

    }
}