<main id="main-container">
  <app-navigation></app-navigation>
  <div  style="margin-top: 150px; width: 850px; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto; grid-column-gap: 50px; grid-row-gap: 10px;">
    <app-blog-article-item class="ttest"></app-blog-article-item>
    <app-blog-article-item class="ttest"></app-blog-article-item>
    <app-blog-article-item class="ttest"></app-blog-article-item>
    <app-blog-article-item class="ttest"></app-blog-article-item>
  </div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</main>